.wrapperContext {
    position: absolute;
    right: 0;
    top: 0;
}

.wrapper {
    width: auto;
    position: relative;
    background-color: #232323;
    color: #FFFFFF;
    padding: 63px 82px 70px 82px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

.title {
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content {
    margin-top: 37px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.editContent {
    margin-top: 7px;
}

.confirmDelete{
    text-align: center;
}

.buttonWrapper {
    margin-top: 52px;
    display: flex;
    justify-content: right;

}

.button {
    text-transform: uppercase;
    margin-left: 13px;
}

.inputWrapper {
    flex-grow: 1;
    margin-right: 30px;
}

.titleDateWrapper {
    display: flex;
    width: 100%;
}

.inputDate {
    width: 301px;
    height: 57px;
    background-color: var(--color_dark_grey);
    border-radius: 4px;
    margin-top: 13px;
}

.inputDate input {
    color: var(--color_white);
}

.inputDate > div {
    padding: 0 17px;
    border: 0;
}

.textarea {
    padding: 18px 20px;
    border: 0;
    resize: none;
}