.base {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    border-radius: 4px;
    min-width: 177px;
    min-height: 46px;
}

.base:focus-visible {
    outline: none;
    box-shadow: none;
}

.submit {
    width: 233px;
    height: 57px;
    background-color: var(--color_red);
    color: var(--color_white);
}

.reset {
    width: 233px;
    height: 57px;
    border: 1.5px solid var(--color_red);
    color: var(--color_red);
    background-color: transparent;
}

.add {
    width: 177px;
    height: 46px;
    color: var(--color_red);
    background: rgba(96, 96, 96, 0.68);
}
